<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- include css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30"
          height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>


  <!--partial template will replace the part -->

  {{{ body }}}

  <!--includes javascript files here-->
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/jquery-3.5.1.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>